@model Atlas.Online.Web.Models.ContactModel

@using Atlas.Online.Web.Extensions.Ng

@{
    ViewBag.Title = "Contact Us";
    ViewBag.NgApp = "atlas.core";    
}

@section scripts {
    @Scripts.Render("~/bundles/core")
}

<div class="pt-beta">
    <div class="row cf">
        <div class="col md-1-2">
            <div class="xsm-no-padding pr-alpha">
                <img class="mb-alpha" src="@Url.Content("~/Assets/img/need-help.png")" alt="Need Help? 0800 204 679 - Customer Care hotline. Available week days 9am to 5pm" width="274" height="84">
                <h2 class="fc-beta">Send us a message</h2>
                @using (Html.NgBeginForm(
                    htmlAttributes: new Dictionary<string, object>()
                    {
                        { "f8-initialize-model", null }, { "name", "form" }
                    }
                ))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="row cf">
                        <div class="field cf">
                            <div class="col sm-1-3 md-1-4 pr-alpha">
                                @Html.LabelFor(x => x.Name, new { @class = "field-label" })
                            </div>
                            <div class="col sm-2-3 md-3-4">
                                @Html.NgTextBoxFor(x => x.Name, new { @class = "d-block" })
                            </div>
                            @Html.NgValidationMessagesFor(x => x.Name)
                        </div>
                        <div class="field cf">
                            <div class="col sm-1-3 md-1-4 pr-alpha">                    
                                @Html.LabelFor(x => x.Email, new { @class = "field-label" })
                            </div>
							<div class="col sm-2-3 md-3-4">
                                @Html.NgTextBoxFor(x => x.Email, new { @class = "d-block" })
                            </div>
                            @Html.NgValidationMessagesFor(x => x.Email)
                        </div>
                        <div class="field cf">
                            <div class="col sm-1-3 md-1-4 pr-alpha">
                                @Html.LabelFor(x => x.CellNo, new { @class = "field-label" })
							</div>
							<div class="col sm-2-3 md-3-4">
								@Html.NgTextBoxFor(x => x.CellNo, new { @class = "d-block" })
							</div>
                            @Html.NgValidationMessagesFor(x => x.CellNo)
                        </div>
                    </div>
                    @Html.TextAreaFor(x => x.Question, new { @class = "d-block", placeholder = "Question", rows = 6 })
                    <div class="field">
                        <strong class="mr-alpha">How should we reply to you?</strong>
                        @Html.NgRadioButtonFor(x => x.PreferredContact, Atlas.Online.Web.Models.PreferredContact.Email, new { @class = "visuallyhidden", id = "PreferredContactEmail", @checked = "checked" })
                        <label class="field-label mr-micro" for="PreferredContactEmail"><span class="icon radio-custom visuallyhidden-ie8"></span> Please email me</label>
                        @Html.NgRadioButtonFor(x => x.PreferredContact, Atlas.Online.Web.Models.PreferredContact.Call, new { @class = "visuallyhidden", id = "PreferredContactCall" })
                        <label class="field-label" for="PreferredContactCall"><span class="icon radio-custom visuallyhidden-ie8"></span> Please call me</label>
                    </div>
                    <div class="ar">
                        <label for="submit" class="btn btn-right mb-none" ng-class="{disabled: form.$invalid}">
							<input id="submit" type="submit" value="Send Message">
						</label>
					</div>
                }
            </div>
        </div>
        <div class="col md-1-2 xsm-padding-top-30">
            <div class="bd-alpha-ltr brad-gamma bgc-alpha-ltst p-alpha ml-alpha xsm-no-margin">
                <img class="mb-alpha" src="@Url.Content("~/Assets/img/responsible-lending.jpg")" alt="Responsible lending creates growth" width="362" height="214">
                <p>We’d love to hear what you think about us, so that we can carry on what we’re doing right, and change what we’re doing wrong.</p>
                <p>Please email your feedback to <a href="mailto:info@atlasonline.co.za">info@atlasonline.co.za</a> and we guarantee that we’ll get back to you.</p>
            </div>
        </div>
    </div>
</div>