@using Falcon.Gyrkin.Library.Extensions
@{
  ViewBag.Title = "Forgot Password";
}

@*<!-- BEGIN BODY -->
  <body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
      <img src="~/assets/img/logo-big.png" alt="" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
      <div class="token" ng-cloak @Html.RequestVerificationToken() />
      <!-- BEGIN FORGOT PASSWORD FORM -->
      <form class="forget-form ng-cloak" name="forgetForm" ng-submit="forgetForm.$valid && submitForm()" novalidate ng-controller="ForgotController" style="display: block;" ng-cloak>
        <center><h3>Password Reset</h3></center>
        <p>
          Enter your details below in order to reset your password
        </p>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-male"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="Username" ng-model="Username" ng-remote-validate="/api/username/" required />
          </div>
          <div class="alert alert-success" ng-show="forgetForm.Username.$processing">
            Validating username....
          </div>
          <div class="alert alert-danger" ng-show="forgetForm.Username.$error.ngRemoteValidate">
            Username was not found.
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-male"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="ID No" name="IDNo" ng-model="IDNo" ng-remote-validate="/api/id/" required />
          </div>
          <div class="alert alert-success" ng-show="forgetForm.IDNo.$processing">
            Looking up ID No...
          </div>
          <div class="alert alert-danger" ng-show="forgetForm.IDNo.$error.ngRemoteValidate">
            ID No was not found.
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-mobile"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Cell No" numbers-only="numbers-only" name="CellNo" ng-model="CellNo" ng-remote-validate="/api/cell/" />
          </div>
          <div class="alert alert-success" ng-show="forgetForm.CellNo.$processing">
            Looking up Cell No...
          </div>
          <div class="alert alert-danger" ng-show="forgetForm.CellNo.$error.ngRemoteValidate">
            Cell No was not found.
          </div>
        </div>
        <div class="form-actions">
          <button type="button" class="pull-left btn btn-primary" ng-click="back()">Back</button>
          <button type="submit" class="pull-right btn btn-success" button-loading="is_processing" data-loading-text="Sending..." ng-click="submitted = false;">Submit</button>
        </div>
      </form>
      <!-- END FORGOT PASSWORD FORM -->
    </div>

    @section Scripts
    {

      @Scripts.Render("~/StandardJs")
      <script>
        jQuery(document).ready(function () {
          Metronic.init();
          Layout.init();
          Login.initForgetPassword();
        });
      </script>
    }
   </div>
  </body>*@

<body class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <img src="~/assets/img/logo-big.png" alt="" />
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <!-- BEGIN LOGIN FORM -->
    <input type="hidden" ng-model="token" value="@Html.RequestVerificationToken()" copy-value ng-cloak />
    <form class="forget-form ng-cloak" name="forgetForm" ng-submit="forgetForm.$valid && submitForm()" novalidate ng-controller="ForgotController" style="display: block;" ng-cloak>
      <div class="alert alert-danger" ng-show="resetFault">
        <center><strong>{{ loginMessage }}</strong></center><br /> <center>{{ loginStatus }}</center>
      </div>
      <div class="form-actions" ng-show="resetFault">
        <button type="button" class="btn blue" button-loading="is_processing" data-loading-text="Processing..." ng-click="resetFault = false;submitted = false;">Retry</button>
      </div>
      <div ng-show="!resetFault">
        <center><h3>Password Reset</h3></center>
        <p>
          Enter your details below in order to reset your password
        </p>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-male"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="Username" ng-model="Username" ng-remote-validate="/api/username/" required />
          </div>
          <div class="alert alert-success" ng-show="forgetForm.Username.$processing">
            Validating username....
          </div>
          <div class="alert alert-danger" ng-show="forgetForm.Username.$error.ngRemoteValidate">
            Username was not found.
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-male"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="ID No" name="IDNo" ng-model="IdentityNum" ng-remote-validate="/api/id/" required />
          </div>
          <div class="alert alert-success" ng-show="forgetForm.IDNo.$processing">
            Looking up ID No...
          </div>
          <div class="alert alert-danger" ng-show="forgetForm.IDNo.$error.ngRemoteValidate">
            ID No was not found.
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-mobile"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Cell No" numbers-only="numbers-only" name="CellNo" ng-model="Cell" ng-remote-validate="/api/cell/" />
          </div>
          <div class="alert alert-success" ng-show="forgetForm.CellNo.$processing">
            Looking up Cell No...
          </div>
          <div class="alert alert-danger" ng-show="forgetForm.CellNo.$error.ngRemoteValidate">
            Cell No was not found.
          </div>
        </div>
        <div ng-show="!loginError">
          <div class="form-actions clearfix">
            <button type="button" class="pull-left btn btn-primary" ng-click="test()">Back</button>
            <button type="submit" class="btn green pull-right" button-loading="is_processing" data-loading-text="Processing..." id="reset" name="Reset" ng-disabled="!forgetForm.$valid" ng-click="submitted = true;">
              Reset
              <i class="m-icon-swapright m-icon-white"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- END LOGIN FORM -->
  </div>
  <!-- END LOGIN -->
  <div class="copyright">
   @DateTime.Today.Year &copy; Atlas Finance
  </div>
  @section Scripts
  {
    @Scripts.Render("~/StandardJs")
    <script>
      jQuery(document).ready(function () {
        Metronic.init();
        Layout.init();
        Login.initForgetPassword();
      });
    </script>
  }
</body>
<!-- END BODY -->
@section LoginCSS{
  @Styles.Render("~/LoginCSS")
}