@model Atlas.Online.Web.Models.ForgotPasswordModel
@using Atlas.Online.Web.Extensions.Ng
@{
    ViewBag.Title = "Forgotten Password";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.ngApp = "atlas.core";
}

@section Scripts {
    @Scripts.Render("~/bundles/core")
}

<div class="container-outline">
    <div class="pos-r">
        <h1 class="hn-in-outline fc-beta">
            <strong>My Account</strong>
			<span class="ff-zeta fc-alpha-lt fs-kilo va-t">&#x203a;</span>
			<span class="fc-alpha">Password Recovery</span>
        </h1>
        <div class="cf">
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "form", novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                <div class="row cf">
                    <div class="col md-2-3 col-push-pull xsm-no-margin center">
                        <div class="brad-delta bxsh-up-l mt-delta mb-delta bd-alpha-ltr">
                            <div class="row cf bgc-alpha-ltst bgi-gr-tb-alpha plr-beta bdb-alpha-ltr bxsh-down-dk">
                                <div class="col col-10">
                                    <h6>Please enter your email address</h6>
                                </div>
                                <div class="col col-2 ar">
                                    <div class="pt-milli">
                                        <i class="icon icon-lock-circle fc-alpha-lt fs-kilo"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="p-beta xsm-p-beta">
                                @if (!ViewData.ModelState.IsValid)
                                {
                                    <div class="alert alert-error">
                                        @Html.ValidationSummary()
                                    </div>
                                }
                                <div class="row row-ib-cols row-ib-cols-va-m cf al">
                                    <div class="col sm-1-3 md-1-4">
                                        @Html.LabelFor(m => m.Email, new { @class = "field-label" })
                                    </div>
                                    <div class="col sm-2-3 md-3-4">
                                        @Html.NgTextBoxFor(m => m.Email, new { @class = "d-block" })
                                    </div>
                                    <div class="col col-12 ar">
                                        <label for="login" class="btn btn-right mb-none" ng-class="{disabled: form.$invalid}">
                                            <input id="login" type="submit" value="Reset" ng-disabled="form.$invalid">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>