@using Atlas.Online.Web.Extensions.Ng
@{
    ViewBag.Title = "OTP";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.ngApp = "atlas.otp";
}

@section Scripts {
  @Scripts.Render("~/bundles/core")
  @Scripts.Render("~/bundles/atlas-otp")
}


<div class="row cf" ng-controller="OtpController" ng-init="redirectTo = '@ViewBag.NextUrl'">
	<div class="col col-8 push-2" ng-class="{loader: otpVerified || disableUI}">
		<div class="brad-delta bxsh-up-l mt-epsilon mb-beta bd-alpha-ltr ac ng-cloak" ng-show="otpValidated">
      
			<div class="p-beta bdb-alpha-ltr">
				<div class="ac">
					<img class="mtn-message" src="@Url.Content("~/Assets/img/messages/message-tick.png")" width="94" height="94" alt="Image for validation message">
				</div>
            
				<p class="fs-zeta">
          You have successfully validated your mobile phone!
				</p>

        <a class="btn btn-beta btn-beta-right" href="@ViewBag.NextUrl">
          Continue
        </a>&emsp;

      </div>
    </div>

		<div class="brad-delta bxsh-up-l mt-epsilon mb-beta bd-alpha-ltr ac" ng-form="otpForm" ng-show="!otpValidated">

			<div class="p-beta bdb-alpha-ltr">
				<div class="ac">
					<img class="mtn-message" src="@Url.Content("~/Assets/img/messages/message-tick.png")" width="94" height="94" alt="Image for validation message">
				</div>
            
				<p class="fs-zeta">
          Please enter your OTP to continue.
				</p>

        <div>
          <div class="alert alert-info ng-cloak" ng-show="otpSent" >Your One-Time Password has been sent to the number <em>@ViewBag.CellNo</em>.</div>
          <div class="alert alert-error ng-cloak" ng-show="otpError" ng-bind="otpError.message"></div>
          <div class="alert alert-error ng-cloak" ng-show="!otpValidated && otpAttemptFailed">Your OTP was incorrect. Please try again.</div>
        </div>

				<div class="row row-ib-cols cf al">
					<div class="col col-1">
						<label for="otp" class="field-label"><strong>OTP</strong></label>
					</div><!-- .col -->
					<div class="col col-11">
						 @Html.NgTextBox("otp", null, new Dictionary<string, object>() {
              { "class", "d-block"},
              { "required", null },
              { "ng-pattern", @"/\d{4,8}/" },
              { "ng-disabled", "disableUI" },
            })
					</div><!-- .col -->
				</div><!-- .row -->

				<div class="ar mbn-message-footer-pre">
					<a href="javascript:void(0);" class="btn btn-right" ng-disabled="!canSubmit() || otpForm.$invalid" ng-click="validateOtp()">Submit</a>
				</div>
			</div>

			<footer class="plr-beta bgc-alpha-ltst al cf">
				<p>
					<strong class="case-u">
            <span>
						  <a class="fc-beta td-u" href="javascript:void(0);"ng-click="resendOtp()" ng-class="{ disabled: !canResend() }">
                Resend OTP
						  </a>&emsp;
              <span class="fs-milli"><span ng-pluralize count="remainingResendRetries" when="{one: '1 resend', other: '{} resends'}"></span> left</span>
            </span>&emsp;
						<a class="fc-beta td-u" href="@Url.Action("Contact", "Home")">Contact Us</a>
					</strong>
				</p>
			</footer>

		</div>

	</div><!-- .col -->
</div><!-- .row -->

