@model Atlas.Online.Web.Models.ResetPasswordModel

@using Atlas.Online.Web.Extensions.Ng

@{
    ViewBag.Title = "Reset your Password";
    ViewBag.ngApp = "atlas.core";
}

@section Scripts {
  @Scripts.Render("~/bundles/core")
}

<div class="container-outline">
	<div class="pos-r">
		<h1 class="hn-in-outline fc-beta">
			<strong>My Account</strong>
			<span class="ff-zeta fc-alpha-lt fs-kilo va-t">&#x203a;</span>
			<span class="fc-alpha">Password Reset</span>
		</h1>
		<div class="cf">
		    @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "form", novalidate = "novalidate" }
		    )) {
		      @Html.AntiForgeryToken()
		      @Html.HiddenFor(x => x.Token)
		    <div class="row cf">
		    <div class="col col-8 col-push-pull push-2">
			    <div class="brad-delta bxsh-up-l mt-delta mb-delta bd-alpha-ltr">
		
				    <div class="row cf bgc-alpha-ltst bgi-gr-tb-alpha plr-beta bdb-alpha-ltr bxsh-down-dk">
					    <div class="col col-10">
						    <h6>Reset your Password</h6>
					    </div><!-- .col -->
					    <div class="col col-2 ar">
								<div class="pt-milli">
									<i class="icon icon-lock-circle fc-alpha-lt fs-kilo"></i>
								</div>
					    </div><!-- .col -->
				    </div><!-- .row -->
		
				    <div class="p-beta">            
		
		            @Html.ValidationSummary()
		
					    <div class="row row-ib-cols row-ib-cols-va-m cf al">              
						    <div class="col col-3">
		                @Html.LabelFor(m => m.Password, new { @class = "field-label" })
						    </div><!-- .col -->
						    <div class="col col-9">
		                @Html.NgPasswordFor(m => m.Password, new { @class = "d-block" })
						    </div><!-- .col -->
		
						    <div class="col col-3">
		                @Html.LabelFor(m => m.PasswordConfirm, new { @class = "field-label" })
						    </div><!-- .col -->
						    <div class="col col-9">
		                @Html.NgPasswordFor(m => m.PasswordConfirm, new { @class = "d-block" })
						    </div><!-- .col -->
		
						    <div class="ar">
							    <label for="ResetPassword" class="btn btn-right" ng-class="{ disabled: form.$invalid}">
								    <input id="ResetPassword" type="submit" value="Reset Password" ng-disabled="form.$invalid">
							    </label>
						    </div>
					    </div><!-- .row -->
				    </div>
		
			    </div>
		
		    </div><!-- .col -->
	    </div><!-- .row -->
	    }
    </div>
	</div>
</div>