@model Atlas.Online.Web.Models.PaidUpLetterModel

@{
    ViewBag.Title = "PaidUpLetter";
    Layout = null;// "~/Views/Reports/Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Paid Up Letter</title>
<style>
        body{font-family:Verdana;font-size:9pt;}
        h1{padding:20px 0 20px 0;margin: 0 0 0 0;font-size:12pt;}
    </style>
</head>

<body onload="javascript:window.print();">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29%">IMG</td>
        <td width="47%">&nbsp;</td>
        <td width="24%">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="29%" style="vertical-align:top;"> Atlas Finance (Pty) Ltd<br />
Company Reg No: XXX/XXXXX/XX<br />
Vat Reg No: 4890236526<br />
NCR Reg No: NCRCPXXX </td>
        <td>&nbsp;</td>
        <td width="29%" style="vertical-align:top;"> Customer Care: 0861 XXX XXX<br />
E-mail: info@atlasonline.co.za<br />
Website: www.atlasonline.co.za </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td style="font-size:14px;">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-size:14px;"><strong>@Html.DisplayFor(x => x.ClientName)</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="font-size:14px;"><strong>PER E-MAIL : @Html.DisplayFor(x => x.Email)</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Dear Sir / Madam,</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>RE: Paid up letter - Loan Reference Number:
    @Html.DisplayFor(x => x.AccountNo)</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><p>This letter serves as confirmation that
      @Html.DisplayFor(x => x.ClientName)
      (ID Number:
  @Html.DisplayFor(x => x.IdNo)
      ) has settled his/her loan                       agreement with Atlas Finance (Pty) Ltd in full.</p>
      <p>If any amount still owing by you to Atlas Finance / Atlas Onlineis accidentally not reflected or taken into account at the                       time of publication of this letter, for any reason whatsoever, you will still need to pay those amounts to Atlas Finance / Atlas Online                      as and when they become due and payable.</p>
      <p>This letter is provided to you without prejudice and Atlas Finance / Atlas Onlinewill not be held responsible for any errors                       or omissions whatsoever.</p>
    <p>Should you require any further information please contact Customer Care on 0861 XXXXXX (XXX XXX).</p></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><p>Yours Sincerely</p>
    <p>Atlas Finance</p></td>
  </tr>
</table>
</body>
</html>
