@model Atlas.Online.Web.Models.Steps.PersonalDetailsStep

@using Atlas.Online.Web.Extensions.Ng;
@using Atlas.Online.Web.Extensions;

@using (Html.NgBeginForm(
    method: FormMethod.Post,
    prefixNgModel: "data",
    ngInit: new { },
    htmlAttributes: new Dictionary<string, object>() { { "name", "form" }, { "novalidate", "novalidate" } }))
    {
        <p class="fc-beta mt-none fs-zeta">
            <strong>Hi @ViewBag.Client.FullName,<br /></strong>
            Please provide us with your personal details.
        </p>  
        <div class="row cf mb-gamma" ng-init="init('@Html.Raw((object)ViewBag.CurrentStep)')">
            <div class="col md-1-2 pr-alpha sm-no-padding">
                <div class="row row-ib-cols row-ib-cols-va-m cf">
                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.IDNumber, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgTextBoxFor(m => m.IDNumber, new Dictionary<string, object>() {
                                { "class", "d-block" },
                                { "ng-readonly", "idReadonly" },
                                { "autofocus", null },
                                { "validate-remotely", null },
                                { "validateOnStartup", false },
                                { "endpoint", Url.HttpRouteUrl("ActionApi", new { controller = "ApplicationStep", action = "IdNumberInUse", idNumber = ":value"}) }
                           })          
                        </div>
                        @Html.NgLoader(text: "checking...", ngShow: "form.IDNumber.$error.remotevaliditypending")
                        @Html.NgValidationMessagesFor(m => m.IDNumber, ngShow: "form.{0}.$invalid")
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.Address1, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgTextBoxFor(m => m.Address1, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.Address1)
                        <div class="col sm-2-3 col-push-pull push-4 xsm-no-push">
                            @Html.NgTextBoxFor(m => m.Address2, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.Address2)
                        <div class="col sm-2-3 col-push-pull push-4 xsm-no-push">
                            @Html.NgTextBoxFor(m => m.Address3, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.Address3)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.City, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgTextBoxFor(m => m.City, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.City)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.Province, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            <div class="row cf">
                                <div class="col sm-2-3 xpr-micro">
                                    @Html.NgDropDownListFor(m => m.Province, new { @class = "d-block" })
                                </div>
                                <div class="col sm-1-3">
                                    @Html.NgTextBoxFor(m => m.PostalCode, new { @class = "d-block" })
                                </div>
                            </div>
                        </div>
                        @Html.NgValidationMessagesFor(m => m.Province)
                        @Html.NgValidationMessagesFor(m => m.PostalCode)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.MaritalStatus, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">					
                            @Html.NgDropDownListFor(m => m.MaritalStatus, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.MaritalStatus)
                    </div>

                    <div class="field cf" ng-show="data.MaritalStatus == @Html.Raw(Convert.ToInt32(Atlas.Online.Data.WebEnumerators.MaritalStatus.Married))">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.MaritalAgreement, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">					
                            @Html.NgDropDownListFor(m => m.MaritalAgreement, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.MaritalAgreement)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            <label for="" class="field-label">Tel (H)</label>
                            @Html.NgTooltip(title: " If you do not have a landline number at home, please provide us with your cell phone number.")
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgTextBoxFor(m => m.HomeTelephone, new Dictionary<string, object>() {
                                { "class", "d-block" }
                           })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.HomeTelephone)
                    </div>
                </div>
            </div>

            <div class="col md-1-2 pl-alpha sm-no-padding">
                <div class="row row-ib-cols row-ib-cols-va-m cf">
                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.FirstName, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgTextBoxFor(m => m.FirstName, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.FirstName)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.Surname, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgTextBoxFor(m => m.Surname, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.Surname)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.NextOfKinRelation, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgDropDownListFor(m => m.NextOfKinRelation, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.NextOfKinRelation)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.NextOfKinContactNumber, new { @class = "field-label" })
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgTextBoxFor(m => m.NextOfKinContactNumber, new Dictionary<string, object>() {
                                { "class", "d-block" }
                           })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.NextOfKinContactNumber)
                    </div>

                    <div class="field cf">
                        <div class="col sm-1-3 pr-alpha">
                            @Html.LabelFor(m => m.EthnicGroup, new { @class = "field-label" })
                            @Html.NgTooltip(title: "The National Credit Act requires this information for statistical purposes.<br>This information will not affect your credit application in any way.")
                        </div>
                        <div class="col sm-2-3">
                            @Html.NgDropDownListFor(m => m.EthnicGroup, new { @class = "d-block" })
                        </div>
                        @Html.NgValidationMessagesFor(m => m.EthnicGroup)
                    </div>

                </div>
            </div>
        </div>

        <h4 class="fc-beta text-deco-sideline mb-beta">Bank Details</h4>

        @Html.Partial("_BankDetail", this.Model)
    }